[Unit]
Description=Edaimi Sekolah App (Rootless)
After=network-online.target

[Container]
# Menggunakan image Node.js
Image=docker.io/library/node:20-alpine
WorkingDir=/app

# Mengeset nama container agar bisa dipanggil oleh cloudflared tunnel
ContainerName=daimi-app

# Menghubungkan container langsung ke jaringan Podman 'global_net'
Network=global_net

# Mount direktori kode aplikasi (dengan label keamanan SELinux ':Z')
Volume=/data/podman-hosting/apps/sekolah-app:/app:Z

# Menjalankan frontend app
Environment=NODE_ENV=production
Exec=node dist/server.cjs

# Menggunakan berkas environment host RHEL
EnvironmentFile=/data/podman-hosting/apps/sekolah-app/.env

[Install]
WantedBy=default.target
